Django==4.0.2
django_environ==0.8.1
djoser==2.1.0
drf_yasg==1.20.0
environ==1.0
Faker==13.3.0
mysql_connector_repackaged==0.3.1
pandas==1.4.0
requests==2.27.1
tqdm==4.62.3
django-rest-swagger==2.2.0

